<div class="table-responsive">
    <table class="table table-hover table-responsive">
        <thead>
        <tr id="tr_table_orders">
            <th></th>
            <th>ID del Pedido</th>
            <th>Representante</th>
            <th>Customer Team</th>
            <th>Institución de entrega</th>
            <th>Total</th>
            <th>Fecha del Pedido</th>
            <th>Fecha entrega</th>
            <th>Estado</th>
            <th>Carta</th>
            <th>Carta Respuesta</th>

        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td><input type="checkbox" name="{{ order.name }}" value={{ order.id }}></td>
                <td>{{ order.id }}</td>
                <td>{{ order.representante }}</td>
                <td>{{ order.customer_team }}</td>
                <td>{{ order.institucion_entrega }}</td>
                <td>${{ order.total }}</td>
                <td>{{ order.fecha_pedido.strftime('%d-%m-%Y') }}</td>
                <td>{{ order.fecha_entrega }}</td>
                <td style="color: {% if order.estado == 'Entregado' %}#118632{% elif order.estado == 'Cancelado' %}#D71A1AF2{% elif order.estado == 'En camino' %}#FF8832{% elif order.estado == 'Creado' %}blue{% else %}black{% endif %}">
                    <div class="d-flex align-items-center">
                        <button type="button" class="btn p-1 rounded-circle me-2" style="background-color: {% if order.estado == 'Entregado' %}#118632{% elif order.estado == 'Cancelado' %}#D71A1AF2{% elif order.estado == 'En camino' %}#FF8832{% elif order.estado == 'Creado' %}blue{% else %}black{% endif %}"></button>
                        <span><b>{{ order.estado }}</b></span>
                    </div>
                </td>
                <td><a href="{{ order.carta_representante }}">Carta</a></td>
                <td><a href="{{ order.carta_respuesta }}">Carta Respuesta</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination justify-content-end">
        <ul class="pagination">
            <li class="page-item disabled">
                <span class="page-link">Página {{ pagination.page }} de {{ pagination.pages }}</span>
            </li>

            {% if pagination.has_prev %}
                <li class="page-item">
                    <a class="page-link" hx-get="{{ url_for('orders_representante_list') }}?page={{ pagination.prev_num }}" hx-target="#orders-representante-table">&laquo;</a>
                </li>
            {% endif %}

            {% for page_num in pagination.iter_pages() %}
                {% if page_num %}
                    <li class="page-item {{ 'active' if page_num == pagination.page else '' }}">
                        <a class="page-link" hx-get="{{ url_for('orders_representante_list') }}?page={{ page_num }}" hx-target="#orders-representante-table">{{ page_num }}</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}
            {% endfor %}

            {% if pagination.has_next %}
                <li class="page-item">
                    <a class="page-link" hx-get="{{ url_for('orders_representante_list') }}?page={{ pagination.next_num }}" hx-target="#orders-representante-table">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>



