<div class="table-responsive">
    <table class="table table-hover table-responsive">
        <thead>
        <tr id="tr_table_orders">
            <th></th>
            <th>ID del Pedido</th>
            <th>Representante</th>
            <th>Customer Team</th>
            <th>Institución de entrega</th>
            <th>Total</th>
            <th>Fecha del Pedido</th>
            <th>Fecha entrega</th>
            <th>Estado</th>
            <th>Carta</th>
            <th>Carta Respuesta</th>
            <th>Acción</th>

        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td><input type="checkbox" name="{{ order.name }}" value={{ order.id }}></td>
                <td>{{ order.id }}</td>
                <td>{{ order.representante }}</td>
                <td>{{ order.customer_team }}</td>
                <td>{{ order.institucion_entrega }}</td>
                <td>${{ order.total }}</td>
                <td>{{ order.fecha_pedido.strftime('%d-%m-%Y') }}</td>
                <td>{{ order.fecha_entrega }}</td>
                <td style="color: {% if order.estado == 'Entregado' %}#118632{% elif order.estado == 'Cancelado' %}#D71A1AF2{% elif order.estado == 'En camino' %}{% elif order.estado == 'Creada' %}blue{% else %}black{% endif %}"><b>{{ order.estado }}</b></td>
                <td><a href="{{ order.carta_representante }}">Carta</a></td>
                <td><a href="{{ order.carta_respuesta }}">Carta</a></td>
                <td>
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <a class="btn btn-sm" role="button" hx-get="{{ url_for('edit_order', order_id=order.id) }}" hx-target="#modal_edit_order_admin_container" hx-trigger="click" hx-swap="innerHTML" data-bs-target="#edit_order_admin_modal" data-bs-toggle="modal">
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0378 0.720099C17.0731 -0.240546 15.5097 -0.239958 14.5457 0.721415L7.0903 8.15835C6.49401 8.75305 6.14344 9.54915 6.10796 10.3891L6.00182 12.9018C5.9535 14.046 6.87116 14.9998 8.02025 14.9999L10.4924 15C11.4 15 12.2692 14.6349 12.9029 13.9874L20.2984 6.40804C21.2425 5.44344 21.2326 3.90152 20.2761 2.94907L18.0378 0.720099ZM15.4985 1.67018C15.9366 1.23319 16.6473 1.23293 17.0858 1.66958L19.3241 3.89856C19.7588 4.33149 19.7634 5.03236 19.3342 5.47082L17.8489 6.98837L14.0046 3.16008L15.4985 1.67018ZM13.0526 4.10956L8.04304 9.10711C7.68526 9.46393 7.47492 9.9416 7.45363 10.4456L7.3475 12.9583C7.33139 13.3397 7.63728 13.6576 8.02031 13.6576L10.4924 13.6577C11.037 13.6578 11.5585 13.4387 11.9388 13.0502L16.9084 7.94931L13.0526 4.10956Z" fill="#2B3F6C"/>
                                        <path d="M19 11V15C19 17.7614 16.7614 20 14 20H6C3.23858 20 1 17.7614 1 15V7C1 4.23858 3.23858 2 6 2H10" stroke="#2B3F6C" stroke-width="1.5" stroke-linecap="round"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="col-md-auto">
                                <a class="btn btn-sm" role="button">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.05063 8.73418C4.20573 7.60763 5.00954 6 6.41772 6H17.5823C18.9905 6 19.7943 7.60763 18.9494 8.73418V8.73418C18.3331 9.55584 18 10.5552 18 11.5823V18C18 20.2091 16.2091 22 14 22H10C7.79086 22 6 20.2091 6 18V11.5823C6 10.5552 5.66688 9.55584 5.05063 8.73418V8.73418Z" stroke="#2B3F6C" stroke-width="1.5"/>
                                        <path d="M14 17L14 11" stroke="#2B3F6C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M10 17L10 11" stroke="#2B3F6C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M16 6L15.4558 4.36754C15.1836 3.55086 14.4193 3 13.5585 3H10.4415C9.58066 3 8.81638 3.55086 8.54415 4.36754L8 6" stroke="#2B3F6C" stroke-width="1.5" stroke-linecap="round"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination justify-content-end">
        <ul class="pagination">
            <li class="page-item disabled">
                <span class="page-link">Página {{ pagination.page }} de {{ pagination.pages }}</span>
            </li>

            {% if pagination.has_prev %}
                <li class="page-item">
                    <a class="page-link" hx-get="{{ url_for('orders_admin_list') }}?page={{ pagination.prev_num }}" hx-target="#orders-admin-table">&laquo;</a>
                </li>
            {% endif %}

            {% for page_num in pagination.iter_pages() %}
                {% if page_num %}
                    <li class="page-item {{ 'active' if page_num == pagination.page else '' }}">
                        <a class="page-link" hx-get="{{ url_for('orders_admin_list') }}?page={{ page_num }}" hx-target="#orders-admin-table">{{ page_num }}</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}
            {% endfor %}

            {% if pagination.has_next %}
                <li class="page-item">
                    <a class="page-link" hx-get="{{ url_for('orders_admin_list') }}?page={{ pagination.next_num }}" hx-target="#orders-admin-table">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>



